# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
astropy=1.0=np19py34_0
autopep8=1.1=py34_0
ipython=3.0.0=py34_0
numpy=1.9.2=py34_0
openssl=1.0.1k=0
pep8=1.6.2=py34_0
pip=6.0.8=py34_0
py=1.4.26=py34_0
pytest=2.6.4=py34_0
python=3.4.3=0
readline=6.2=2
setuptools=13.0.2=py34_0
six=1.9.0=py34_0
sqlite=3.8.4.1=0
system=5.8=1
tk=8.5.15=0
xz=5.0.5=0
zlib=1.2.8=0
